# Xcode
*.xcuserstate
*.xcuserdatad/
*.xccheckout
*.xcscmblueprint
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/

# Build products
build/
DerivedData/
*.ipa
*.app
*.dSYM.zip
*.dSYM

# CocoaPods
Pods/
*.podlock

# Carthage
Carthage/Build/

# Swift Package Manager
.build/
Packages/
Package.pins
Package.resolved
*.xcworkspace

# Accio dependency management
Dependencies/
.accio/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Code Injection
iOSInjectionProject/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# SwiftLint
.swiftlint.yml

# Personal data and secrets
*.keychain
secrets.plist
config.plist
UserDefaults.plist